<% if notice %>
<p id="notice"><%= noitce %></p>
<% end %>

<h1> MY STORE CATALOG</h1>
<table cellpadding="0" cellspacing="0" border="1" colspan="3">
<tr>
<% @products.each do |product| %>

<% @i = @i + 1 %> 

<% if @i % 4 == 0 %>
</tr>
<tr>
<% end %>

<td>
<br />
<div class="entry">
<%= image_tag(product.image_url) %></th>
<h3><%=product.title %></h3>
<h2><%= truncate(strip_tags(product.description),length: 30)%></h2>
<div class="price_line">
<span class="price"><%= number_to_currency(product.price) %></span>
<%= button_to 'Add to Cart', line_items_path(product_id: product) %>
</div>
</div>
</td>
<% end %>
</tr>
</table>

